:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-theme-color: #ffffff;
    --title-section-theme-color: #F5F4FA;
    --modal-btn-theme-color: #188CE8;
    --text-logo-color: #000000;
    --text-address-color: #757575;
    --text-main-color: #212121;
    --text-white-color: #ffffff;
    --accent-color: #2196F3;
}

html {
box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
    background-color: var(--title-theme-color) ;
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--text-main-color);
    letter-spacing: 0.03em
}

/* ШАПКА */

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
}

.navigation {
  display: flex;
}

.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;

width: 153px;
height: 31px;
margin-right:85px;
margin-top: 24px;
}

.navigation-list,.address {
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
}

.navigation-list-link .link  {
color:var(--text-main-color);
}

.link {
 text-decoration: none;
  }
  
.list {
 list-style: none;
 padding: 0;
 margin: 0;
  }

  .address-nav, .navigation-list, .features-list,
  .team-list, .what-are-we-doing, .clients, .social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

  /* HEADER */

.navigation-list-link,
.address-nav-list,
.modal-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  
  color: var(--text-logo-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .logo .logo-web {
  color: var(--accent-color);
  }

.navigation-list {
width: 294px;
height: 48px;
margin-top: 30px;
margin-right: 268px ;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  padding-bottom: 30px;
  color: var(--text-main-color);
 }

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-nav-link:hover,
.address-nav-link:focus {
  color: var(--accent-color);
}

.address-nav-link {
  color: var(--text-address-color);
  display: block;
  padding-bottom: 30px;
 }

.address {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.address-nav-list:not(:last-child) {
  margin-right: 67px;
}

.address-nav {
  margin-top: 30px ;
}

/* HERO */

.hero-section {
  margin: 0px;
  padding: 0px;
}

.hero {
  text-align: center;
  background-color: rgb(86, 86, 117);
}

.hero .hero-title  {
font-weight: 900;
font-size: 44px;
line-height: 1.36;


letter-spacing: 0.06em;
text-transform: uppercase;

margin: 0 px;
color:var(--text-white-color);
}

.hero-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
}

.button.hero {
font-weight: bold;
font-size: 16px;
line-height: 1.87; 
letter-spacing: 0.06em;
    
background-color:var(--accent-color);
color:var(--text-white-color);

padding: 10px 32px 10px 32px ;

border-radius: 4px;
border-color: var(--accent-color);
}

/* FEATURES */

.features-list {
  margin-bottom: 94px;
}

.features-list-heading {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

margin-bottom: 10px;

color:var(--text-main-color)
}

.features-list-text {
font-weight: normal;
font-size: 14px;
line-height: 1.71;

color:var(--text-address-color)
}

/* what-are-we-doing */

.section-title {
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

padding: 0px ;
margin-bottom: 50px;

color:var(--text-main-color);
}

.what-are-we-doing {
margin-bottom: 94px;
}

.section-title-list {
  margin-right: 30px;
}

.section-title-text{
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

padding-top: 27px;
padding-bottom: 27px;

margin-top: -10px;

background-color: rgba(47, 48, 58, 0.8);
color:var(--text-white-color)
}


/* TEAM */

.section.team {
background-color:var(--title-section-theme-color);

}

.team-list {
  margin-bottom: 94px;
}

.section-title-team {
  background-color:var(--title-theme-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.section-title-team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;

margin-top: 30px;
margin-bottom: 10px;

color:var(--text-main-color);
}

.section-title-team-text {
font-weight: normal;
font-size: 16px;
line-height: 1.18;   
text-align: center;

margin-bottom: 16px;
   
color:var(--text-address-color)
}

.social-link {
list-style-type: disc;
color:var(--text-address-color);

margin-bottom: 24px;
}

.social-link:hover,
.social-link:focus {
color:var(--accent-color);
}
/* CLIENTS */

.clients {
  margin-bottom: 50px;
}

.section-title {
  margin-top: 93px;
}

/* FOOTER */
.logo-studio{
color:var(--text-white-color);
}

.address-footer {
font-weight: normal;
font-size: 14px;
font-style: normal;
line-height: 1.71;
    
color:var(--text-white-color)
}

.address-nav-link-footer {
color:var(--text-white-color)
}

.footer-section{
background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join-in {

font-weight: bold;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;

color:var(--text-white-color)
}

.copyright {
font-weight: normal;
font-size: 12px;
line-height: 2;
text-align: center;

color: rgba(255, 255, 255, 0.4);
}
/* PORTFOLIO */
.filter-portfolio {
  display: flex;
}

.button.potrfolio {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;

color:var(--text-main-color);
background-color:var(--title-section-theme-color);

}
.filter-portfolio > .button.potrfolio{
  margin-right: 8px;
}


.button.button.portfolio:hover,
.button.button.portfolio:focus {
color:var(--text-white-color);
background-color:var(--accent-color);
}

.portfolio-list-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
    
letter-spacing: 0.06em;
    
color:var(--text-main-color);
}

.portfolio-list-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
    
color:var(--text-address-color);
}

.portfolio-list:not(:nth-last-child(-n+3)) {
  border: 1px solid;
  margin-bottom: 20px;
}