:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-theme-color: #ffffff;
    --title-section-theme-color: #F5F4FA;
    --modal-btn-theme-color: #188CE8;
    --text-logo-color: #000000;
    --text-address-color: #757575;
    --text-main-color: #212121;
    --text-white-color: #ffffff;
    --accent-color: #2196F3;
}

body {
    background-color: var(--title-theme-color) ;
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--text-main-color);
    letter-spacing: 0.03em
}

/* ШАПКА */

.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
;
}

.navigation-list,.address {
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
}

.navigation-list-link .link  {
color:var(--text-main-color);
}

.address-nav-link  {
 color: var(--text-address-color);
}

.link {
 text-decoration: none;
  }
  
.list {
 list-style: none;
  }

  /* HEADER */

.navigation-list-link,
.address-nav-link,
.modal-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.navigation-list-link {
 color: var(--text-main-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-nav-link:hover,
.address-nav-link:focus {
  color: var(--accent-color);
}

.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;

color: var(--text-logo-color);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo .logo-web {
color: var(--accent-color);
}

.address {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

/* HERO */

.hero .hero-title  {
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

background-color:var(--text-address-color);
color:var(--text-white-color);
}

.button.hero {
font-weight: bold;
font-size: 16px;
line-height: 1.87; 
    
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
    
background-color:var(--accent-color);
color:var(--text-white-color);
}

/* FEATURES */

.features-list-heading {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

color:var(--text-main-color)
}

.features-list-text {
font-weight: normal;
font-size: 14px;
line-height: 1.71;

color:var(--text-address-color)
}

.section-title {
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

color:var(--text-main-color);
}

.section-title-text{
 font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

background-color: #2F303A ;
color:var(--text-white-color)
}
/* TEAM */
.section.team {
background-color:var(--title-section-theme-color);
}

.section-title-team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;

color:var(--text-main-color);
}

.section-title-team-text {
font-weight: normal;
font-size: 16px;
line-height: 1.18;   
text-align: center;
   
color:var(--text-address-color)
}

.social-link {
list-style-type: disc;
color:var(--text-address-color);
}

.social-link:hover,
.social-link:focus {
color:var(--accent-color);
}
/* COMPANY */
/* FOOTER */
.logo-studio{
color:var(--text-white-color);
}

.address-footer {
font-weight: normal;
font-size: 14px;
font-style: normal;
line-height: 1.71;
    
color:var(--text-white-color)
}

.address-nav-link-footer {
color:var(--text-white-color)
}

.footer-section{
background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join-in {

font-weight: bold;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;

color:var(--text-white-color)
}

.copyright {
font-weight: normal;
font-size: 12px;
line-height: 2;
text-align: center;

color: rgba(255, 255, 255, 0.4);
}
/* PORTFOLIO */

.button.potrfolio {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;

color:var(--text-main-color);
background-color:var(--title-section-theme-color);
}

.button.button.portfolio:hover,
.button.button.portfolio:focus {
color:var(--text-white-color);
background-color:var(--accent-color);
}

.portfolio-list-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
    
letter-spacing: 0.06em;
    
color:var(--text-main-color);
}

.portfolio-list-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
    
color:var(--text-address-color);
}